<%- include("../includes/navigation.ejs") %>
   <div class="card">
    <% if(errorMessage.length > 0) { %>
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><%= errorMessage %></strong>
          </div>
    <% } %>
       <div class="row">
           <form enctype="multipart/form-data" action="/admin/edit-post/<%= post._id %>" method="post" class="col s12">
               <div class="row">
                <div class="input-field col s12">
                    <input id="title" name="title" type="text" class="validate" value="<%= post.title %>">
                    <label for="title">Title</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="content" name="content" class="materialize-textarea"><%= post.content %></textarea>
                        <label for="content">Content</label>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="input-field col s12">
                        <input id="imageUrl" name="imageUrl" type="text" class="validate" value="<%= post.imageUrl %>">
                        <label for="imageUrl">Image Url</label>
                    </div>
                </div> -->
                <div class="row">
                    <input name="image" id="image" type="file">
          </div>
                <input type="hidden" name="postId" value="<%= post._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
           </form>
       </div>
   </div>
<%- include("../includes/footer.ejs") %>