<link rel="stylesheet" href="/css/feed.css">
<%- include("../includes/navigation.ejs") %>
<% for(let post of posts) { %>
    <div class="post row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><%= post.title %></span>
              <small>Posted by <%=post.author %> on <%= post.postedAtRough %></small>
            </div>
            <div class="card-image">
              <img src="/<%= post.imageUrl %>">
            </div>
            <div class="card-content">
              <p><%= post.content %></p>
            </div>
            <div class="card-action">
              <a href="/post/<%=post._id %>">View Full Post</a>
            </div>
          </div>
        </div>
      </div>
<% } if(posts.length <= 0) { %>
    <h1>No posts</h1>
<% } %>
<ul class="pagination">
  <% if (currentPage !== 1 && previousPage != 1) { %>
     <li class="waves-effect"><a href="/feed?page=1">1</a></li>
  <% } %>
  <% if(hasPreviousPage) { %>
      <li class="waves-effect"><a href="/feed?page=<%= previousPage %>"><%= previousPage %></a></li>
  <% } %>
     <li class="active"><a href="/feed?page=<%= currentPage %>"><%= currentPage %></a></li>
  <% if (hasNextPage) { %>
      <li class="waves-effect"><a href="/feed?page=<%= nextPage %>"><%= nextPage %></a></li>
  <% } %>
  <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
      <li class="waves-effect"><a class="waves-effect" href="/feed?page=<%= lastPage %>"><%= lastPage %></a></li>
  <% } %>
</ul>
<%- include("../includes/footer.ejs") %>