<%- include("../includes/navigation.ejs") %>
<div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="/<%= post.imageUrl %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <h2 class="header"><%= post.title %></h2>
          <p><%= post.content %></p>
        </div>
        <div class="card-action">
            <small>Posted by <%=post.author %> on <%= post.postedAtRough %></small>
        </div>
      </div>
    </div>
  </div>
<%- include("../includes/footer.ejs") %>